<main>
  <div class="grid grid-cols-12 min-h-screen">
    <div class="col-span-3 bg-blue-50 flex flex-col h-screen sticky top-0">
      <div class="mt-10 ms-10 mb-15">
        <div class="mb-2.5">
          <img class="w-48" src="Images/elevate-logo.png" alt="" />
        </div>
        <div class="flex items-center gap-2.5 text-blue-600 text-xl font-semibold FgMono">
          <img src="Images/folder-code.svg" alt="" />
          <span>Exam App</span>
        </div>
      </div>
      <nav class="mx-10 mb-10 grow flex flex-col justify-between">
        <div class="flex flex-col gap-2.5">
          <a
            routerLinkActive="border border-blue-500 bg-blue-100 text-blue-600!"
            routerLink="/main"
            class="flex items-center gap-2.5 py-4 ps-4 text-gray-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-graduation-cap-icon lucide-graduation-cap"
            >
              <path
                d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
              />
              <path d="M22 10v6" />
              <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
            </svg>
            <span>Diplomas</span>
          </a>
          <a
            routerLinkActive="border border-blue-500 bg-blue-100 text-blue-600!"
            routerLink="/test"
            class="flex items-center gap-2.5 py-4 ps-4 text-gray-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-user-round-icon lucide-user-round"
            >
              <circle cx="12" cy="8" r="5" />
              <path d="M20 21a8 8 0 0 0-16 0" />
            </svg>
            <span>Account Settings</span>
          </a>
        </div>
        <div class="flex items-center justify-between gap-1.25 relative">
          <div class="flex items-center gap-2.5">
            <div class="w-14 h-14">
              <img class="w-full h-full object-cover" src="Images/def.jpg" alt="" />
            </div>
            <div class="FgMono">
              <p class="text-blue-600 font-medium">Firstname</p>
              <p class="text-gray-500 text-sm">user-email@example.com</p>
            </div>
          </div>
          <div
            class="cursor-pointer size-7 flex items-center justify-center"
            (click)="togglePopupList($event)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"
            >
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </div>
          <div
            [class.hidden]="!popupListOpen()"
            class="absolute bg-white bottom-full right-0 mb-1 flex flex-col text-sm FgMono"
          >
            <a href="" class="p-4 flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-user-round-icon lucide-user-round text-gray-500"
              >
                <circle cx="12" cy="8" r="5" />
                <path d="M20 21a8 8 0 0 0-16 0" />
              </svg>
              <span class="">Account</span>
            </a>
            <a href="" class="p-4 flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-cog-icon lucide-cog text-gray-500"
              >
                <path d="M11 10.27 7 3.34" />
                <path d="m11 13.73-4 6.93" />
                <path d="M12 22v-2" />
                <path d="M12 2v2" />
                <path d="M14 12h8" />
                <path d="m17 20.66-1-1.73" />
                <path d="m17 3.34-1 1.73" />
                <path d="M2 12h2" />
                <path d="m20.66 17-1.73-1" />
                <path d="m20.66 7-1.73 1" />
                <path d="m3.34 17 1.73-1" />
                <path d="m3.34 7 1.73 1" />
                <circle cx="12" cy="12" r="2" />
                <circle cx="12" cy="12" r="8" />
              </svg>
              <span class="">Dashboard</span>
            </a>
            <a href="" class="p-4 flex items-center gap-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-log-out-icon lucide-log-out text-red-400"
              >
                <path d="m16 17 5-5-5-5" />
                <path d="M21 12H9" />
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
              </svg>
              <span class="text-red-600">Logout</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-span-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
