<section class="flex">
  <div class="w-1/2 bg-blue-100 py-19 hidden lg:block">
    <div class="max-w-114.5 mx-auto">
      <div class="flex items-center gap-2.5 text-blue-600 mb-10">
        <span class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-folder-code-icon lucide-folder-code"
          >
            <path d="M10 10.5 8 13l2 2.5" />
            <path d="m14 10.5 2 2.5-2 2.5" />
            <path
              d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2z"
            />
          </svg>
        </span>
        <span class="text-xl font-semibold font-gMono">Exam App</span>
      </div>
      <p class="text-3xl font-bold font-inter">
        Empower your learning journey with our smart exam platform.
      </p>
      <div class="mt-15 flex flex-col gap-9 font-gMono">
        <div class="flex items-start gap-5">
          <div
            class="w-9 h-9 border-[1.6px] border-blue-600 text-blue-600 flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-brain-icon lucide-brain"
            >
              <path d="M12 18V5" />
              <path d="M15 13a4.17 4.17 0 0 1-3-4 4.17 4.17 0 0 1-3 4" />
              <path d="M17.598 6.5A3 3 0 1 0 12 5a3 3 0 1 0-5.598 1.5" />
              <path d="M17.997 5.125a4 4 0 0 1 2.526 5.77" />
              <path d="M18 18a4 4 0 0 0 2-7.464" />
              <path d="M19.967 17.483A4 4 0 1 1 12 18a4 4 0 1 1-7.967-.517" />
              <path d="M6 18a4 4 0 0 1-2-7.464" />
              <path d="M6.003 5.125a4 4 0 0 0-2.526 5.77" />
            </svg>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-2.5 text-blue-600">Tailored Diplomas</h3>
            <p class="text-gray-700">
              Choose from specialized tracks like Frontend, Backend, and Mobile Development.
            </p>
          </div>
        </div>
        <div class="flex items-start gap-5">
          <span
            class="w-9 h-9 border-[1.6px] border-blue-600 text-blue-600 flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-book-open-check-icon lucide-book-open-check"
            >
              <path d="M12 21V7" />
              <path d="m16 12 2 2 4-4" />
              <path
                d="M22 6V4a1 1 0 0 0-1-1h-5a4 4 0 0 0-4 4 4 4 0 0 0-4-4H3a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h6a3 3 0 0 1 3 3 3 3 0 0 1 3-3h6a1 1 0 0 0 1-1v-1.3"
              />
            </svg>
          </span>
          <div>
            <h3 class="text-xl font-semibold mb-2.5 text-blue-600">Focused Exams</h3>
            <p class="text-gray-700">
              Access topic-specific tests including HTML, CSS, JavaScript, and more.
            </p>
          </div>
        </div>
        <div class="flex items-start gap-5">
          <span
            class="w-9 h-9 border-[1.6px] border-blue-600 text-blue-600 flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-rectangle-ellipsis-icon lucide-rectangle-ellipsis"
            >
              <rect width="20" height="12" x="2" y="6" rx="2" />
              <path d="M12 12h.01" />
              <path d="M17 12h.01" />
              <path d="M7 12h.01" />
            </svg>
          </span>
          <div>
            <h3 class="text-xl font-semibold mb-2.5 text-blue-600">Smart Multi-Step Forms</h3>
            <p>Choose from specialized tracks like Frontend, Backend, and Mobile Development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full min-h-screen lg:w-1/2">
    <router-outlet></router-outlet>
  </div>
</section>
