<section class="space-y-4">
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="pb-6 border-b border-gray-100">
      <app-input-field
        [control]="changePasswordForm.get('currentPassword')!"
        inputId="cpassword"
        inputLabel="Current Password"
        inputType="password"
        inputPlaceholder="********"
      ></app-input-field>
    </div>
    <div>
      <app-input-field
        [control]="changePasswordForm.get('newPassword')!"
        inputId="npassword"
        inputLabel="New Password"
        inputType="password"
        inputPlaceholder="********"
      ></app-input-field>
    </div>
    <div>
      <app-input-field
        [control]="changePasswordForm.get('confirmPassword')!"
        inputId="repassword"
        inputLabel="Confirm New Password"
        inputType="password"
        inputPlaceholder="********"
      ></app-input-field>
    </div>
    <div class="pt-4">
      <app-d-button btnText="Update Password" btnType="submit"></app-d-button>
    </div>
  </form>
  <div
    class="absolute bottom-6 right-6 w-100 bg-gray-800 p-4 gap-2.5 shadow-[0px_6px_13.1px4px_#0000001A] flex items-center text-sm font-medium FgMono"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-check-icon lucide-check text-green-500"
    >
      <path d="M20 6 9 17l-5-5" />
    </svg>
    <span class="text-white">Your password has been updated.</span>
  </div>
</section>
