<section class="w-full h-full flex justify-center items-center">
  <div class="w-112.5">
    @if (step() == 'email') {
      <section class="">
        <h1 class="text-3xl font-bold text-gray-800 mb-2.5">Forgot Password</h1>
        <p class="text-gray-500 FgMono mb-5">Don’t worry, we will help you recover your account.</p>
        <form [formGroup]="forgotForm" (ngSubmit)="RequestPasswordReset()" class="FgMono">
          <div>
            <app-input-field
              inputId="email"
              inputType="email"
              inputLabel="Email"
              inputPlaceholder="user@example.com"
              [control]="forgotForm.get('email')!"
            ></app-input-field>
          </div>
          <div class="mt-8">
            <app-d-button
              [isLooding]="isLooding()"
              [isDisabled]="forgotForm.get('email')?.invalid!"
              btnText="Next"
              icon="fa-solid fa-angle-right"
              iconLocation="right"
            ></app-d-button>
          </div>
          <div class="mt-5">
            <app-d-form-msg
              msg="Don’t have an account? "
              link="Create yours"
              goTo="/register"
            ></app-d-form-msg>
          </div>
        </form>
      </section>
    }
    @if (step() == 'verify') {
      <section>
        <button
          (click)="backToEmail()"
          class="w-10 h-10 mb-10 border-[1.5px] border-gray-200 flex justify-center items-center cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-move-left-icon lucide-move-left"
          >
            <path d="M6 8L2 12L6 16" />
            <path d="M2 12H22" />
          </svg>
        </button>
        <div class="">
          <h1 class="text-3xl font-bold text-gray-800 mb-4">Password Reset Sent</h1>
          <p class="FgMono text-gray-800">
            We have sent a password reset link to:
            <span class="text-blue-600">user@example.com</span>.
          </p>
          <br />
          <p class="text-gray-800">
            Please check your inbox and follow the <br />
            instructions to reset your password.
          </p>
          <br />
          <p class="text-gray-500">
            If you don’t see the email within a few minutes,<br />
            check your spam or junk folder.
          </p>
          <div class="mt-8">
            <app-d-form-msg
              msg="Don’t have an account? "
              link="Create yours"
              goTo="/register"
            ></app-d-form-msg>
          </div>
        </div>
      </section>
    }
    <!-- @if (step() == 'password') {
      <app-reset-password [parentForm]="forgotForm"></app-reset-password>
    } -->
  </div>
</section>
