<section>
  <div class="flex justify-between items-center gap-1.5 mb-2.5">
    <div class="w-2.5 h-2.5 bg-blue-600 rotate-45 shrink-0"></div>
    <div class="border border-blue-600 w-full"></div>
    <div class="w-2.5 h-2.5 bg-blue-600 rotate-45 shrink-0"></div>
    <div class="border border-blue-600 w-full"></div>
    <div class="w-2.5 h-2.5 bg-blue-600 rotate-45 shrink-0"></div>
    <div class="border border-blue-600 w-full"></div>
    <div class="w-5.25 h-5.25 bg-blue-100 rotate-45 flex items-center justify-center shrink-0">
      <div class="w-2.5 h-2.5 bg-blue-600"></div>
    </div>
  </div>
  <h1 class="text-3xl font-bold text-gray-800 Finter mb-4">Create Account</h1>
  <h2 class="text-2xl font-bold text-blue-600 mb-2.5 Finter">Create a strong password</h2>
  <form [formGroup]="parentForm()" (ngSubmit)="handleClick()" class="space-y-4 FgMono">
    <div>
      <app-input-field
        [redStar]="true"
        inputId="password"
        inputType="password"
        inputLabel="Password"
        inputPlaceholder="********"
        [control]="parentForm().get('password')!"
      ></app-input-field>
      <div class="text-xs text-red-600">
        @let passwordControl = parentForm().get('password');
        @if (passwordControl?.errors && passwordControl?.touched) {
          @if (passwordControl?.getError('required')) {
            <p class="">Password is required.</p>
          }
          @if (passwordControl?.getError('pattern')) {
            <p>Password must include uppercase, lowercase, number, and special character.</p>
          }
        }
      </div>
    </div>
    <div>
      <app-input-field
        [redStar]="true"
        inputId="confirmPassword"
        inputType="password"
        inputLabel="Confirm Password"
        inputPlaceholder="********"
        [control]="parentForm().get('confirmPassword')!"
      ></app-input-field>
      <!-- <div class="text-xs text-red-600">
        @let rePasswordControl = parentForm().get('confirmPassword');
        @if (rePasswordControl?.errors && rePasswordControl?.touched) {
          @if (rePasswordControl?.getError('required')) {
            <p>Please confirm your password.</p>
          }
        }
        @if (
          parentForm().hasError('passwordMatch') &&
          rePasswordControl?.touched &&
          !rePasswordControl?.getError('required')
        ) {
          <p>Passwords do not match.</p>
        }
      </div> -->
    </div>
    <div class="mt-8">
      <app-d-button
        [isLooding]="isLooding()"
        [isDisabled]="isDisabled()"
        btnText="Create Account"
        btnType="submit"
      ></app-d-button>
    </div>
  </form>
</section>
